# Build outputs
bin/
obj/

# VS and IDE
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.pubxml.user
*.sln.DotSettings.user
Properties/launchSettings.json

# NuGet
*.nupkg
*.snupkg
out/
packages/
project.lock.json
project.fragment.lock.json

# Test results & coverage
TestResults/
*.coverage
*.coveragexml
*.trx

src/FFF.Net/runtimes/